
.work-experine-form{display: flex;  flex-direction: column; width: 100%; margin-top: 20px; }
.work-experine-form select{margin-bottom: 10px;}
.work-experine-form input{margin-top:10px; padding: 5px 4px; display: block;}
.add-btn{
    border: none; color: #FFCE45;
     background-color: inherit;
       font-size: 15px;
     text-transform:
      uppercase;text-align: left;
    margin-top: 20px; }
.error{color: red;  }
.date-work{width: 100%; display: flex; }
.date-work *{width: 100%; display:block ;}
.work-experine-form input{padding: 3px 20px; }

.compenstation-work {display: flex;}
.compenstation-work *{width: 100%;}
.work-experine-form label{font-size: 20px;color: #080806; }

